/*CSS格式化*/
/*清除内外边距*/
*{
	margin: 0;
	padding: 0;
}
/*设置 字体大小  字体*/
body{
  width: 1200px;
	font-size: 14px;
  font-family: arial ,"Microsoft YaHei", sans-serif;
  color: #00b7d3;
}
/*清除H标签的加粗效果*/
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
}
/*清除li的小点点*/
li{
	list-style: none;
}
/*设置a的字体大小 颜色  清除点击下划线*/
a{
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}
/*设置a标签点击变色*/
a:hover{
	color:  #00b7d3;;
}
/*清除图片的边框, 设置图片对齐方式*/
img{
  width: 100%;
	border: 0 none;
	vertical-align: middle;
}
/*设置表单的样式 边框 样式 文本域不缩放*/
input,button,textarea{
	border: 0 none;
	outline-style: none;
	resize: none;

}
/*设置浮动*/
.fl{
	float: left;
}
.fr{
	float: right;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
	visibility: hidden;
	height: 0;
	line-height: 0;
}
.clearfix:after{
	clear: both;
}

/* 头部 */
.hearch {
  position: fixed;
  z-index: 999;
  height: 40px;
  line-height: 40px;
  background-color: #373d41;
  position: relative;
}
/* logo */
.hearch .logo {
  margin-left: 30px;
  width: 80px;
  height: 40px;
}
.hearch .logo img {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 80px;
}
/* search */
.hearch .search {
  width: 100px;
  position: absolute;
  top: 0;
  right: 480px;
}
.hearch .search input {
  float: right;
  margin: 5px auto;
  height: 30px;
  width: 150px;
  background-color: #505658;
  outline: none;
  font-size: 12px;
}
.hearch .search img {
  position: absolute;
  right: 0;
  top: 10px;
  width: 14px;
  padding:5px;
}
.hearch .search span{
  position: absolute;
  top: 0;
  right: 25px;
  color: #fff;
}
.hearch .search input:hover {
  width: 200px;
  border: 1px solid #00b7d3;
  background-color: #373d41;
  transition: all .3s linear;
}
.hearch .search img:last-child {
  display: none;
}
.hearch .search:hover img{
  display: none;
}
.hearch .search:hover img:last-child{
  display: block;
}
/* nav */
.hearch .nav {
  margin-right: 40px;
  position: absolute;
  top: 0;
  right: 0;
}
.hearch .nav li {
  float: left;
  width: 60px;
}
.hearch .nav li img {
  width: 14px;
}
.hearch .nav li button {
  width: 100px;
  height: 40px;
  background-color: #00b7d3;
  color: #fff;
}


/* 第一屏 */
#fullpage .one {
   position: relative;
  color: #fff;
}

@keyframes section_one {
  0% {
    left: 0;
  }
  100% {
    left: 200px;
  }
}
#fullpage .one .onetit {
  position: absolute;
  width: 450px;
  animation: section_one 1s 0.2s forwards;
  top: 100px;
}
#fullpage .one .twotit {
  position: absolute;
  width: 450px;
  animation: section_one 1s 0.2s forwards;
  top: 200px;
}
#fullpage .one h1 {
  position: absolute;
  top: 300px;
  left: 200px;
  font-size: 80px;
  animation: section_one 1.2s 0.5s forwards;
}
#fullpage .one i {
  display: block;
  width: 800px;
  height: 1px;
  border:1px #fff solid;
  background-color: #fff;
  position: absolute;
  top: 430px;
  left:200px;
}
@keyframes  section_one_p {
  0% {
    top:800px;
    left: 200px;
  }
  100%{
    top: 450px;
    left: 200px;
  }
}
#fullpage .one span{
  width: 700px;
  position: absolute;
  top: 520px;
  left: 200px;
  animation: section_one_p 1s 0.2s forwards;
}
#fullpage .one .join {
  position: fixed;
  top: 77px;
  right: 30px;
  min-width: 106px;
  height: 48px;
  z-index: 10;
}
#fullpage .one .join img {
  border:1px #fff solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding:10px;
  position: absolute;
  left: -40px;
  top: 8px;
}
#fullpage .one .join p {
  text-align: left;
  position: absolute;
  left: 0px;
}
#fullpage .one .join p:first-child {
  top: 0;
}
#fullpage .one .join p:last-child {
  top: 35px;
}
#fullpage .one .join .line{
  width: 100%;
  height: 2px;
  background: #00c1de;
  position: absolute;
  top: 23px;
  left: 0;
  border:none;
}
#fullpage .one .join:hover img{
  border:1px #00b7d3 solid;
}
#fullpage .one .join:hover .line{
  background: #fff;
}
@keyframes page {
  0%{
    opacity: 0;
    top: 450px;
    right: 100px;
  }
  30%{
    opacity: 1;
    top: 500px;
    right: 100px;
  }
  60%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }

}
#fullpage .one .page {
  position: fixed;
  z-index: 20;
  width: 80px;
  animation: page 2s 3s forwards;
}